<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.dwichan.sqlitejava">

    <application
        android:allowBackup="true"
        android:icon="@drawable/people"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ReportActivity" />
        <activity android:name=".AddUpdateScoreActivity" />
        <activity android:name=".StudentsScoreDetailActivity" />
        <activity android:name=".AddUpdateStudentsActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>